:root {
    --bg: #262625;
    --light-pink: #FFD0D0;
    --pink: #FF9EAA;
    --text-white: #F7F9F2;
    --fire: #EB5353;
    --water: #4D96FF;
    --earth: #36AE7C;
    --wind: #F7F48B;
    --magnifier: 6;
    --gap: 1vmin;
    --transition: 0.5s;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262625;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.underline {
    position: relative;
    cursor: pointer;
}

.underline::before {
    content: "";
    position: absolute;
    /* inset: 0; */
    top: 80%;
    left: 0;
    right: 0;
    bottom: 15%;
    /* transform: skew(-12deg); */
    /* background: rgba(238, 111, 87, 0.5); */
    background: hsl(41, 19%, 55%, .7);
}

.container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100svw;
    z-index: 0;
}

.panel {
    scroll-snap-align: start;
    height: 100svh;
}

.bg-layer {
    position: absolute;
    z-index: 0;
}

.section-heading {
    /* height: 10%; */
    margin: 0 auto;
    /* width: 100%; */
    position: relative;
    padding: 1rem 1rem 1rem;
    font-family: "JetBrains Mono", monospace;
    letter-spacing: -1px;
    font-size: 2rem;
    color: #A59271;
    text-align: left;
    align-self: flex-start;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #A59271 0%, #554C3A 33%, transparent 66%) 0 0 1 0;
    /* background-color: #8D6B94; */
    width: 100%;
}



.common-text {
    color: #A59271;
    font-family: "Fira Code";
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
}




.one {
    display: grid;
    place-content: center;
    background-color: #262625;
    z-index: 5;
}

.two {
    display: grid;
    place-content: center;
    background-color: #262625;
    z-index: 5;
}

.three {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #262625; */
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.landing {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.quote-line {
    font-family: "Forum";
    font-size: 2rem;
    color: #E8F7EE;
}

.hero {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-line {
    font-family: "Arvo";
    font-size: 3rem;
    color: #A1B3A5;
}

.welcome>img {
    position: relative;
    /* top: 50px; */
}

#h1a {
    position: relative;
    bottom: -20px;
}

#h1b {
    color: #397367;
}


.right-half {
    width: 30%;
    margin: 0 0 0 auto;
    /* background-color: #443850; */
    text-align: right;
    display: grid;
    place-content: center;
}

.xpillars {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    margin-left: 1rem;
    padding-top: 1rem;
    width: max-content;
}



.xpillar {
    margin: auto 0;
    font-family: "Oswald";
    font-size: 5rem;
    color: #A59271;
    opacity: .5;
    cursor: none;
}

/* .xpillar:nth-child(2n) {
    color: #A59271;
}
.xpillar:nth-child(2n+1) {
    color: #397367;
} */

.xpillars:hover {
    line-height: 7rem;
    transition: all 1s ease;
}


.parallax-container {
    /* use CSS variables calculated in JavaScript */
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1);
    will-change: transform;
}

.img-grid {
    width: 80%;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    margin-top: 4rem;
}

.img-grid img {
    position: relative;
    --brightness: 0.75;
    --grayscale: 1;
    transition: flex var(--transition), filter var(--transition);
    height: 100%;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    object-fit: cover;
    overflow: hidden;
    flex: 1;
    opacity: 0;

}

.img-grid img:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: var(--magnifier);
}

.controls {
    /* background-color: #262625; */
    /* width: inherit; */
    position: relative;
    top: 50px;
    text-align: center;
    margin: 2rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #F7F9F2;
}

.gallery-name {
    /* background-color: #412234; */
    font-family: "Forum";
    font-size: 2rem;
    padding: .5rem 1rem;
    border: 2px solid goldenrod;
    margin: auto;
    color: #F1BF98;
}

.xpillars {
    @media (hover) and (prefers-reduced-motion: no-preference) {
        &>.xpillar {
            transition: opacity .3s var(--ease-3);
        }

        &:hover>.xpillar:not(:hover) {
            opacity: .25;
        }
    }
}




button {
    margin-inline: .5rem;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    padding: .5rem 1rem;
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #A59271;
    color: #F7F9F2;
    box-shadow: hsla(0, 0%, 0%, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, hsla(45, 41%, 38%, .5) 0px -4px 0px inset;
}

button:focus {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    /* color: #DEA702; */
    box-shadow: hsla(0, 0%, 0%, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, hsla(45, 41%, 38%, .8) 0px -4px 0px inset;
}

button:active {
    transform: translateY(2px);
}

.button-active {
    scale: 1.1;
    /* margin-inline: .6rem; */
    background-color: #1D2021;
}

.five {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    height: 100dvh;
    width: 100%;
}

.content-box {
    display: grid;
    grid-template-columns: minmax(auto-fit, 1fr);
    grid-template-rows: minmax(auto-fit, 1fr);
    /* justify-content: center; */
    /* align-items: center; */
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    /* flex-direction: column; */
}



.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #131313; */
    /* left: 250px; */
    /* min-height: 50%; */
    grid-area: 1 / 1 / 2 / 3;
    padding: 3rem;
    /* border: 2px solid blue; */
}

.left-half {
    /* min-width: 40%; */
    margin: 0 0 auto 0;
    /* background-color: #36AE7C; */
    /* padding-left: 2rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-area: 2 / 1 / 3 / 3;
    /* min-height: 40%; */
    /* background-color: #290d0d; */
}

.card {
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 4pt solid #A59271;
    background-color: #262625;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    margin-inline: 50px;
    position: relative;
}


.card-title {
    font-family: "Arvo";
    font-size: 1rem;
    color: #8D6B94;
    /* background-color: #36AE7C; */
    padding: .5rem 1rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #A59271;
}

.card:nth-child(1) {
    /* transform: rotate(7.5deg); */
    /* top: -40px;
    left: 220px; */
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 0px 10px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(145, 43%, 54%, .5) -4px -4px 0px inset,
        hsla(145, 43%, 54%, .5) 4px 4px 0px inset;
    z-index: 3;
}

.card:nth-child(2) {
    /* transform: rotate(-4deg); */
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 0px 10px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(356, 82%, 66%, .5) -4px -4px 0px inset,
        hsla(356, 82%, 66%, .5) 4px 4px 0px inset;
    z-index: 2;
}

.card:nth-child(3) {
    /* transform: rotate(5deg); */
    /* top: 40px;
    left: -220px; */
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 0px 10px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(188, 47%, 53%, .5) -4px -4px 0px inset,
        hsla(188, 47%, 53%, .5) 4px 4px 0px inset;
    z-index: 1;

    .card-title {
        font-size: .9rem;
    }
}

.card:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
    z-index: 99;
}


.card-image {
    aspect-ratio: 1;
    height: 120px;
    padding-top: 1rem;
    /* background-color: #4D96FF ; */
}

.card-text {
    font-family: "Inconsolata";
    color: #D7D0C8;
    height: auto;
    /* background-color: #2E4057; */
    width: 100%;
    /* height: 100%; */
    padding-top: 1rem;
    padding-inline: .7rem;
    font-size: 1rem;
    text-align: center;
    visibility: hidden;
}

.stat {
    color: #58BC82;
}

.nstat {
    color: #D1603D;
}

.special-ability {
    color: #8EA8C3;
}

.common-heading {
    color: #007C77;
    font-family: "Oswald";
    font-size: max(3rem, 32px);
    position: relative;
    margin-bottom: 1rem;
}


.card-details-box {
    grid-area: 2 / 1 / 2 / 3;
    opacity: 0;
    position: relative;
    /* width: 30vw; */
    /* border: 2px solid #EF959D; */
    background-color: transparent;
    padding: 2rem 2rem;
    height: fit-content;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.six {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 100%;
    /* height: 100pc; */
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
}

.box {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
}



.forge-blueprint {
    display: grid;
    grid-template-areas: "stackx";
    /* min-width: max(70%, min(1000px, 100svw)); */
    /* max-width: 70rem; */
    margin: 0;
    flex: 2;
}



.blueprint {
    max-width: 100%;
    grid-area: stackx;
}

.desk {
    display: flex;
    flex-direction: column;
    /* min-width: 420px; */
    flex: 1;
}

.details {
    display: grid;
    height: fit-content;
    /* margin: auto; */
    grid-template-areas: "stack";
    padding-inline: 1rem;
}

button img {
    filter: invert();
}

.armoury-details {
    grid-area: stack;
    position: relative;
    flex-wrap: wrap;
}

.btn-tray {
    padding-inline: .5rem;
}

.tags-tray {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    height: fit-content;
    cursor: pointer;
    flex: 1;
}

.tag {
    background-color: #1E2020;
    /* border: 1px solid #A59271; */
    font-family: "Fira Code";
    height: fit-content;
    font-size: .8rem;
    color: #A59271;
    /* border-radius: 1rem; */
    padding: .3rem .5rem .3rem .5rem;
    margin: 0 .5rem .5rem 0;
}

.tag:hover {
    background-color: #A59271;
    color: #1E2020;
}

@media only screen and (max-width: 1000px) {
    .box {
        flex-direction: column;
    }

    .forge-blueprint {
        margin-bottom: 0;
        flex: 1;
    }

    .desk {
        position: relative;
        flex: 2;
    }
    .btn-tray {
        margin: 0 auto;
    }

    button {
        scale: 1.5;
        margin: 1rem 2rem;
    }
    .button-active {
        scale: 2;
    }

    .details {
        margin-top: 10rem;
    }

    .tags-tray {
        flex: 1;
    }

    .common-heading {
        font-size: 3rem;
    }

    .common-text {
        font-size: 2rem;
    }

    .tag {
        font-size: 1.5rem;
        padding: .5rem .7rem .5rem .7rem;
        margin: .3rem .7rem .7rem .3rem;
    }

}