:root {
    --bg: #262625;
    --text-white: #F7F9F2;
    --light-gold: #A39B8E;
    --gold: #A59271;
    --silver: #747474;
    --vibranium: #1D2021;
    --mythril: #A39B8E;
    --malachite: #007C77;
    --magnifier: 5;
    --gap: 1vmin;
    --transition: 0.5s;
    --cube-face: 50px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262625;
    overflow-x: hidden;
    cursor: none !important;
    height: 100lvh;
    width: 100lvw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.underline {
    position: relative;
    /* cursor: pointer; */
}

.underline::before {
    content: "";
    position: absolute;
    /* inset: 0; */
    top: 80%;
    left: 0;
    right: 0;
    bottom: 15%;
    /* transform: skew(-12deg); */
    /* background: rgba(238, 111, 87, 0.5); */
    background: hsl(41, 19%, 55%, .7);
}

.container {
    height: inherit;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100svw;
    z-index: 0;
}

.panel {
    scroll-snap-align: start;
    height: inherit;
    overflow: hidden;
}


.quote-panel {
    display: grid;
    place-content: center;
    background-color: #262625;
    z-index: 5;
}

.logo-panel {
    display: grid;
    place-content: center;
    background-color: #262625;
    z-index: 99;
}

.gallery-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #262625; */
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.five {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    /* height: 100dvh;
    width: 100%; */
}


.skills-panel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 100%;
    /* height: 100pc; */
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
}

.me-panel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    z-index: 90;
}

.box2 {
    height: 100%;
    display: grid;
    place-content: center;
}

.box3 {
    padding-top: 3rem;
    display: grid;
    grid-template-areas: "img-stack";
    height: 60%;
}


/* ------------------------------------- */

.section-heading {
    /* height: 10%; */
    margin: 0 auto;
    /* margin: 0; */
    position: relative;
    padding: 1rem;
    font-family: "JetBrains Mono", monospace;
    letter-spacing: -1px;
    font-size: 2rem;
    color: var(--gold);
    text-align: center;
    align-self: flex-start;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, transparent 33%, #A59271 50%, transparent 66%) 0 0 1 0;
    /* border-image: linear-gradient(to right, transparent 0%,#A59271 40%, #554C3A 60%, transparent 100%) 0 0 1 0; */
    /* background-color: #8D6B94; */
    width: 100%;
}

.common-text {
    color: #A59271;
    font-family: "Fira Code";
    font-size: 1rem;
    width: 100%;
    /* margin-top: 1rem; */
}

.common-heading {
    color: #007C77;
    font-family: "Oswald";
    font-size: max(3rem, 32px);
    position: relative;
    margin-bottom: 1rem;
}


.landing {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.quote-line {
    font-family: "Forum";
    font-size: 2rem;
    color: #E8F7EE;
}

.hero {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-line {
    font-family: "Arvo";
    font-size: 3rem;
    color: #A1B3A5;
}

.welcome>img {
    position: relative;
    /* top: 50px; */
}

#h1a {
    position: relative;
    bottom: -20px;
}

#h1b {
    color: #397367;
}


.img-grid {
    grid-area: img-stack;
    inline-size: 90%;
    overflow-x: hidden;
    scrollbar-width: none;
    /* block-size: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    /* margin-top: 4rem; */
    margin: 0 auto;
    padding-bottom: 2rem;
}

.img-grid img {
    position: relative;
    --brightness: 0.75;
    --grayscale: 1;
    transition: flex var(--transition), filter var(--transition);
    block-size: 100%;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    flex: 1;

}

.img-grid img:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: var(--magnifier);
}

.controls {
    /* background-color: #262625; */
    /* width: inherit; */
    position: relative;
    padding-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #F7F9F2;
}


button {
    position: relative;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    padding: 1rem 1rem;
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    background-color: var(--bg);
    border-radius: 10px;
    border: 3px solid #A59271;
    color: #F7F9F2;
    text-wrap: wrap;
    /* width: min-content; */
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(45, 41%, 38%, .5) 0px -4px 0px inset;
}

button:focus {
    cursor: none;
}

button:hover {
    cursor: none;
    transform: translateY(-2px);
    /* color: #DEA702; */
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 0px 0px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(45, 41%, 38%, .8) 0px -4px 0px inset;
}

button:active {
    transform: translateY(5px);
}

.button-active {
    /* margin-inline: .6rem; */
    background-color: #007C77;
    box-shadow:
        hsla(0, 0%, 0%, 0.4) 0px 0px 0px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        hsla(45, 41%, 38%, .8) 0px -4px 0px inset;
}


.box {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
}



.forge-blueprint {
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-areas: "stackx"; */
    /* min-width: max(70%, min(1000px, 100svw)); */
    /* max-width: 70rem; */
    margin: 0;
    flex: 2;
    height: fit-content;
    padding-top: 9rem;
    padding-inline: 2rem;
}



.blueprint {
    position: relative;
    max-width: 100%;
    grid-area: stackx;
    --brightness: 1.15;
}

.blueprint:hover {
    cursor: none;
    /* scale: 1.2; */
    transition: all .3s ease;
    filter: contrast(var(--brightness));
    /* box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 20px 40px,
    rgba(0, 0, 0, 0.3) 0px 70px 130px -30px, 
    rgba(0, 0, 0, 0.2) 0px -30px 0px inset;   */
}

.desk {
    display: flex;
    flex-direction: column;
    /* min-width: 420px; */
    flex: 1;
    padding-left: 2rem;
    padding-top: 2rem;
    background-color: #397367;
}

.details {
    display: grid;
    height: fit-content;
    /* margin: auto; */
    grid-template-areas: "stack";
    /* padding-inline: 1rem; */
}

button img {
    filter: invert();
}

.armoury-details {
    margin-top: 2rem;
    grid-area: stack;
    position: relative;
    flex-wrap: wrap;
    text-align: justify;
}

.btn-tray {
    /* width: 100%; */
    padding-block: 1rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 10%;
    justify-content: space-between;
}

.skill-tree-container {
    flex: 2;
    /* background-color: #007C77; */
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}

.skill-tree {
    width: fit-content;
    margin: 0 auto;
}



.tree-label {
    font-family: "Bree Serif";
    color: var(--gold);
    text-align: center;
    padding-bottom: 1rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, transparent 10%, #A59271 50%, transparent 90%) 0 0 1 0;

}

.tags-tray {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    /* height: fit-content; */
    width: 300px;
    /* background-color: #007C77; */
    margin: 0 1rem;
    /* padding-bottom: .5rem; */

}

.st-x {
    width: 100%;
}

.tt-x {
    margin: 0 auto;
    display: block;
    columns: 2;
}

.tag {
    background-color: #1E2020;
    /* border: 1px solid #A59271; */
    font-family: "Fira Code";
    height: fit-content;
    /* width: 100%; */
    text-align: center;
    font-size: 1rem;
    color: #A59271;
    /* width: fit-content; */
    /* border-radius: 1rem; */
    padding: .3rem .5rem .3rem .5rem;
    margin: .3rem .5rem .5rem 0;
    /* margin: .3rem auto; */
    /* flex: auto; */
}

.tag:hover {
    transition: all .1s ease;
    background-color: #A59271;
    color: #1E2020;
    scale: 1.1;
}

@media only screen and (max-width: 1000px) {

    .img-grid {
        flex-direction: column;
        /* block-size: 100%; */
    }

    .img-grid img {
        inline-size: 100%;
    }

    .box {
        flex-direction: column;
    }

    .forge-blueprint {
        margin-bottom: 0;
        flex: 1;
    }

    .desk {
        position: relative;
        flex: 2;
    }

    .btn-tray {
        margin: 0 auto;
    }

    button {
        scale: 1.3;
        margin: 1rem 2rem;
    }

    .details {
        /* margin-top: 10rem; */
    }

    .tags-tray {
        flex: 1;
    }

    .common-heading {
        font-size: 3rem;
    }

    .common-text {
        font-size: 2rem;
    }

    .tag {
        font-size: 1.5rem;
        padding: .5rem .7rem .5rem .7rem;
        margin: .3rem .7rem .7rem .3rem;
    }

}

.selected-tag {
    background-color: #A59271;
    color: #1E2020;
}


/* --------------------------- */

body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: color-dodge;
    z-index: 99;
}

body .cursor__ball circle {
    fill: rgb(70, 70, 70);
}

.textpoint {
    background-color: #1E2020;
    /* border: 1px solid #A59271; */
    font-family: "Fira Code";
    height: fit-content;
    font-size: .8rem;
    color: #A59271;
    /* width: fit-content; */
    /* border-radius: 1rem; */
    padding: .3rem .5rem .3rem .5rem;
    margin: 0 .5rem .5rem 0;
}


.desk2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding-inline: 4rem;
    padding-top: 10rem;
}

.active-tag {
    background-color: rgb(165, 146, 113, .5);
    color: #1E2020;
}

.terminal {
    position: absolute;
    width: 100svw;
    bottom: 0;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid var(--gold);
    z-index: 10;
    background-color: var(--bg);
}

.terminal-head {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
}

.terminal-prompt {
    font-family: "Inconsolata";
    color: var(--silver);
}

.terminal-text {
    font-family: "Inconsolata";
    color: var(--light-gold);
    /* display: flex; */
    position: relative;
}



.terminal-tags-container {
    width: clamp(100ch, 130ch, 70%);
    margin: 0 auto 0 0;
    /* padding-top: .5rem; */
    /* background-color: #7F95D1; */
    /* height: 0; */
    opacity: 0;
    overflow: hidden;
    position: relative;
    display: flex;
}

.box69 {
    position: relative;
    padding-top: 1rem;
    inset: 0;
    display: grid;
    grid-template-areas: "bewbew";
}

.terminal-tags {
    grid-area: bewbew;
    height: fit-content;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #007C77; */
}

.terminal-shutter {
    /* width: 100%; */
    /* height: 50%; */
    position: absolute;
    grid-area: auto;
    z-index: 10;
    background-color: var(--bg);
    inset: 0% 0% 0% 0%;

    border-style: solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to bottom, transparent 0%, #A59271 50%, transparent 100%);
}

#ts1 {
    right: 50%;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

#ts2 {
    left: 50%;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

#trm-1 {
    position: relative;
    color: var(--malachite);
    background-color: var(--bg);
    opacity: 1;
}
#trm-0 {
    position: absolute;
    color: var(--malachite);
    background-color: var(--bg);
    opacity: 1;
}

#trm-2 {
    color: #FF82A9;
}

#trm-3 {
    color: #7F95D1;
}

/* ---------------------------- */

.cube-container {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 100px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 10s linear infinite;
}

@keyframes turn {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes huiii {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    }

    25% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
        transform: rotate3d(1, 1, 0, 90deg);
    }

    75% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    }
}

.face {
    width: 200px;
    height: 200px;
    background: hsl(0, 0%, 75%, .3);
    border: 2px solid var(--gold);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: clip-path 2s ease-in-out;
    animation: huiii 5s ease-in-out infinite;
}

.front {
    transform: translateZ(100px) rotateZ(45deg) rotate(45deg);
}

.back {
    transform: translateZ(-100px) rotate3d(-1, 0, 1, 45deg);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

@media (prefers-reduced-motion: reduce) {
    .cube {
        animation: none;
        transform: rotate3d(1, 1, 0, 45deg);
    }
}